.message {
  max-width: 80%;
  /* padding: 1rem; */
  /* border-radius: 10px; */
  margin-bottom: 0.5rem;
  height: fit-content;
  display: flex;
}

.message--user {
  align-self: flex-end;
}

.message--assistant {
  align-self: flex-start;
  /* background-color: #f5f4f6; */

  display: flex;
  flex-direction: row;
  gap: 0.2rem;

  /* border: 1pt solid var(--dark-bg-color); */
}

.message__sender {
  font-weight: 800;
}

.message__content {
  margin-top: 0.3rem;
  padding: 1rem;
  border-radius: 10px;
}

.message__content--user {
  text-align: right;
  background: var(--red-highlight-color);
  align-self: flex-end;
  color: var(--main-font-color);
}

.message__content--assistant {
  background-color: #f5f4f6;
}
