.message {
  max-width: 75%;
  margin-bottom: 0.5rem;
  height: fit-content;
  display: flex;
}

.message--user {
  align-self: flex-end;
}

.message--assistant {
  align-self: flex-start;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.2rem;
}

.message__sender {
  font-weight: 800;
}

.message__content {
  margin-top: 0.3rem;
  padding: 0.7rem 0.8rem;
  border-radius: 10px;
}

.message__content--user {
  text-align: right;
  background: var(--red-highlight-color);
  align-self: flex-end;
  color: var(--main-font-color);
}

.message__content--assistant {
  background-color: #f5f4f6;
}
