.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header--small {
  gap: 0.5rem;
  background-color: var(--dark-bg-color);
  padding: 0.5rem 1rem;
  border-radius: 10px 10px 0 0;
}

.header--large {
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: var(--dark-bg-color);
}

.header__title {
  color: white;
  font-size: 5rem;
}

.header__title--small {
  font-size: 1.2rem;
}

@media (max-width: 730px) {
  .header__title {
    font-size: 2.7rem;
  }

  .header__title--small {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .header--large {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .header__title {
    font-size: 1.7rem;
  }

  .header--small {
    border-radius: 0;
  }
}
